* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fcf7ef;
    font-size: 16px;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: 
    "hd"
    "wl"
    "pt"
    "qt"
    "ab"
    "ft";
}

/*section header*/

.head {
    height: 100vh;
    background-image:url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.topnav {
    opacity: 0.7;
    background-color: #222;
    height: 10vh;
}

.navcont {
    display: flex;
    list-style: none;
    flex-direction: row;
}

ul li {
    flex: 1 200px;
}

li a p:hover {
    color:#d89e54;
}

li a p {
    color: #fcf5e5;
    font-size: 1.5em;
    text-align: center;
    line-height: 10vh;;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
}

.hello{
    text-align: center;
    margin: 0 5vh 5vh 5vh;
}

h1.title {
    font-family: 'Quicksand', sans-serif;
    margin-top: 25vh;
    color: #fcf5e5;
    font-size: 2.3em;
}

.animate__animated.animate__zoomIn {
    --animate-duration: 2s;
  }

.btn {
    border: 2px solid #222;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    margin-top: 15px;
    color: #fcf5e5;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    display: inline-block;
}


.btn:hover {
    color: #d89e54;
}
/*medium screen*/

@media (min-width: 600px) and (max-width:900px) {
   .navcont{
       justify-content: flex-end;
   } 

   ul li {
       max-width: 100px;
       margin: 0 10px;
   }

   h1.title {
       font-size: 2.5em;
   }



.btn {
    font-size: 1.5em;
    padding: 5px 15px;
    
}
  }

  /*large screen*/

  @media (min-width:901px) {
    .navcont{
        justify-content: flex-end;

    } 

    ul li {
        max-width: 100px;
        margin: 0 10px;

    }

    h1.title {
        font-size: 3.3em;
    }

    .btn {
        font-size: 1.5em;
        padding: 7px 20px;
        
    }

  }

  /*section welcome*/

  .welc {
   
   color: #977656;
   text-align: center;
   margin: 5vh;
  }

  .welc h1 {
    font-family: 'Homemade Apple', cursive;
    font-size: 2.3em;
  }

  .welc p {
      font-family: 'Quicksand', sans-serif;
      line-height: 1.5em;
      margin: 5vh 5vh 0 5vh;

  }

  /*medium screen*/

@media (min-width: 600px) and (max-width:900px) {
    .welc h1 {
        font-size: 2.5em;
      }

      .welc p {
          margin: 5vh 10vh 0 10vh;
          text-align: right;
      }

}

 /*large screen*/

 @media (min-width:901px) {
     .welc {
         margin: 5vh 10vh;
     }
    .welc h1 {
        font-size: 3.3em;
      }

      .welc p {
          margin: 5vh 20vh 0 20vh;
          line-height: 1.8em;
          text-align: right;
      }
 }

 /*section posts*/

 .nested-grid {
    display: grid;
    grid-template-columns: 1;
    grid-gap:5vh;
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
    margin: 5vh;

 }

 .nested-grid h1{
    grid-column: 1;
    grid-row: 1;
    font-family: 'Homemade Apple', cursive;
    color: #977656; 
    font-size: 2.3em;
 }

 .item{
     height: 50vh;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }

 #one{
    grid-column: 1;
    grid-row: 2;
    background-image: url(../images/trees.jpg);

 }


 #two{
    grid-column: 1;
    grid-row: 3;
    background-image: url(../images/camera.jpg);
 }

 #three{
    grid-column: 1;
    grid-row: 4;
    background-image: url(../images/sandstorm.jpg);
 }

 #four{
    grid-column: 1;
    grid-row: 5;
    background-image: url(../images/desert.jpg);
 }


 /*section quote*/

 .quote-text {
    color: #fcf5e5;
    text-align: center;
    height: 100vh;
    background-image:url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 10vh;
 }

 .quote-text blockquote {
    font-family: 'Homemade Apple', cursive;
    font-size: 2.3em;
    margin: 0 5vh;
 }

 .quote-text figcaption {
    font-family: 'Quicksand', sans-serif;
    margin: 5vh 5vh 0 5vh;
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 5vh;
 }

   /*medium screen*/

@media (min-width: 600px) and (max-width:900px) {
    .quote-text blockquote {
        font-size: 2.5em;
      }

      .quote-text figcaption {
          margin: 0 10vh;
      }

}

 /*large screen*/

 @media (min-width:901px) {

    .quote-text blockquote {
        font-size: 3.3em;
        margin: 0 10vh;
      }

    .quote-text figcaption {
          margin: 0 15vh;
          font-size: 1.5em;
      }
 }

 /*section about*/

 .about {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(4, auto);
    margin: 5vh;

 }

 .photo{
    grid-column: 1;
    grid-row: 1;
    height:20vh;
    width: 20vh;
    border-radius: 100%;
    margin: 0 auto;
    background-image: url(../images/woman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

 .info {
    color: #977656;
    text-align: center;
    grid-column: 1;
    grid-row: 2;
    margin-top: 5vh;

 }

 .info h3 {
    font-family: 'Homemade Apple', cursive;
    font-size:1.5em;
 }

 .info p {
    font-family: 'Quicksand', sans-serif;
 }

 .btn2 {
    border: 2px solid #4a2b1d;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    margin-top: 5vh;
    color: #4a2b1d;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    display: inline-block;
    font-weight: bold;
}



.socialMe{
    grid-column: 1;
    grid-row: 3;
    color: #977656;
    margin-top: 5vh;
    text-align: center;
}

    .socialMe h3 {
        font-family: 'Homemade Apple', cursive;
        font-size:1.5em;
     }

.socials{
    grid-column: 1;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 .fb{
    flex: 1;
    max-width: 5vh;

 }

 .fb a i{
    text-decoration: none;
    font-size: 1.6em;
    color:  #4a2b1d;
    
 }

 .insta {
    flex: 1;
    max-width: 5vh;
 }

 .insta a i {
    font-size: 1.6em;
    color: #4a2b1d;
 }

    /*medium screen*/

@media (min-width: 600px) and (max-width:900px){
    .about{
    grid-template-columns: 2;
    grid-template-rows: repeat(3, auto);
    }

    .info {
    grid-column: 1;
    grid-row: 1;
    margin: 5vh 10vh;
    }

    .info h3 {
        font-size: 2em;
    }

    .btn2 {
        font-size:1em;
    }

    .photo {
        grid-column: 2;
        grid-row: 1;
        height:30vh;
        width: 30vh;
        margin: 5vh 10vh;
    }

    .socialMe {
        grid-column: 1;
        grid-row: 2;
    }

    .socialMe h3 {
        font-size: 2em;
    }

    .socials {
        grid-column: 1;
        grid-row: 3;
    }


}

 /*large screen*/

 @media (min-width:901px){
    .about{
        grid-template-columns: 2;
        grid-template-rows: repeat(3, auto);
        }

    .info {
        grid-column: 1;
        grid-row: 1;
        margin: 5vh 20vh;
    }

    .info h3 {
        font-size: 3em;
    }

    .btn2 {
        font-size:1.5em;
    }

    .photo {
        grid-column: 2;
        grid-row: 1;
        height:40vh;
        width: 40vh;
        margin: 5vh 10vh;
    }

    .socialMe {
        grid-column: 1;
        grid-row: 2;
    }

    .socialMe h3 {
        font-size: 3em;
    }

    .socials {
        grid-column: 1;
        grid-row: 3;
    }

    .fb a i{
        font-size: 2em;
    }

    .insta a i{
        font-size: 2em;
    }

 
 }

 /*footer*/

 .foot {
 
    height: 10vh;
    background-color:  #4a2b1d;
    opacity: 0.9;
    font-family:'Quicksand', sans-serif;
    text-align: center;
    line-height: 10vh;
    color: #fcf5e5;
 }
