* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fcf7ef;
    font-size: 16px;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: 
    "hd"
    "wl"
    "pt"
    "qt"
    "ab"
    "ft";
}

