@import url("header.css");
@import url("about.css");
@import url("footer.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fcf7ef;
    font-size: 16px;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
        "hd"
        "wl"
        "pt"
        "qt"
        "ab"
        "ft";
}



/*section welcome*/

.welc {
    grid-area: wl;
    color: #977656;
    text-align: center;
    margin: 5vh;
}

.welc h1 {
    font-family: 'La Belle Aurore', cursive;
    font-size: 2.3em;
}

.welc p {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5em;
    margin: 5vh 5vh 0 5vh;

}


/*medium screen*/

@media (min-width: 600px) and (max-width:900px) {
    .welc h1 {
        font-size: 2.5em;
    }

    .welc p {
        margin: 5vh 10vh 0 10vh;
        text-align: right;
    }

}


/*large screen*/

@media (min-width:901px) {
    .welc {
        margin: 5vh 10vh 15vh;
    }

    .welc h1 {
        font-size: 3.3em;
    }

    .welc p {
        margin: 5vh 20vh 0 20vh;
        line-height: 1.8em;
        text-align: right;
    }
}


/*section posts*/

.nested-grid {
    grid-area: pt;
    display: grid;
    grid-template-columns: 1;
    grid-gap: 5vh;
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
    margin: 5vh 3vh;
}


.posts-h {
    grid-column: 1;
    grid-row: 1;
    font-family: 'La Belle Aurore', cursive;
    color: #977656;
    font-size: 2.3em;
}


.item {
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    box-shadow: 0 0 10px black;
    background-color: white;
    cursor: pointer;
    color: #977656;
}


.item:hover {
    height: 60vh;
}

.item:hover .p-body {
    height: 40vh;
}


.bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}



.post-h {
    overflow: hidden;
    flex: 1;
    min-height: 45%;
    position: relative;
    transition: 0.3s;
}


.date {
    z-index: 1;
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 10px;
    height: 4vh;
    font-size: 0.8em;
    line-height: 4vh;
    font-weight: bold;
    right: 5px;
    top: 5px;
    text-transform: uppercase;
}


.label {
    z-index: 1;
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 10px;
    height: 4vh;
    font-size: 0.8em;
    line-height: 4vh;
    font-weight: bold;
    left: 5px;
    bottom: 5px;
    text-transform: uppercase;

}

.p-body {
    flex: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.p-body h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    margin: 2vh 2vh 0;
    color: #4a2b1d;
    flex: 1;
}

.p-body a {
    flex: 0.8;
    font-weight: bold;
    text-decoration: none;
    color: #4a2b1d;
}

.p-body p {
    flex: 2;
    font-size: 1em;
    margin: 1vh 2vh;
    overflow: hidden;
}

.post-footer {
    color: #4a2b1d;
    flex: 0.2;
    margin: 1vh 0;
}


#one {
    grid-column: 1;
    grid-row: 2;
}

#one .bg {
    background-image: url(../images/trees.jpg);
}

#two {
    grid-column: 1;
    grid-row: 3;
}

#two .bg {
    background-image: url(../images/camera.jpg);

}

#three {
    grid-column: 1;
    grid-row: 4;
}

#three .bg {
    background-image: url(../images/sandstorm.jpg);

}

#four {
    grid-column: 1;
    grid-row: 5;
}

#four .bg {
    background-image: url(../images/desert.jpg);

}


/*medium screen*/

@media (min-width: 600px) and (max-width:900px) {
    .nested-grid {
        grid-template-columns: 1fr 1fr;
    }

    .posts-h {
        grid-column: 1 / span 2;
    }


    #two {
        grid-column: 2;
        grid-row: 2;
    }

    #three {
        grid-column: 1;
        grid-row: 3;
    }

    #four {
        grid-column: 2;
        grid-row: 3;
    }

}


/*large screen*/

@media (min-width:901px) {
    .nested-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0 5vh 5vh;
    }

    .posts-h {
        grid-column: 1 / span 4;
        font-size: 3em;
    }

    .p-body p {
        margin: 2vh 4vh;
    }

    #one {
        grid-column: 1;
        grid-row: 2;
    }


    #two {
        grid-column: 2;
        grid-row: 2;
    }

    #three {
        grid-column: 3;
        grid-row: 2;
    }

    #four {
        grid-column: 4;
        grid-row: 2;
    }

}


/*section quote*/

.quote-text {
    grid-area: qt;
    color: #fcf5e5;
    text-align: center;
    height: 100vh;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    padding-top: 20vh;
    margin-top: 10vh;
}

@supports (-webkit-touch-callout: none) {
.quote-text {
    background: url(../images/cover.jpg) center top no-repeat scroll;
    background-size: auto 100vh;
}    
}

.quote-text blockquote {
    font-family: 'La Belle Aurore', cursive;
    font-size: 2.3em;
    margin: 5vh;

}

.quote-text figcaption {
    font-family: 'Quicksand', sans-serif;
    margin: 5vh 5vh 0 5vh;
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 5vh;
}


/*medium screen*/

@media (min-width: 600px) and (max-width:900px) {
    .quote-text blockquote {
        font-size: 2.5em;
    }

    .quote-text figcaption {
        margin: 0 10vh;
    }

}


/*large screen*/

@media (min-width:901px) {

    .quote-text blockquote {
        font-size: 3.3em;
        margin: 0 10vh;
    }

    .quote-text figcaption {
        margin: 0 15vh;
        font-size: 1.5em;
    }
}


